@using FoodForYou.Common
@using Microsoft.AspNetCore.Identity
@using FoodForYou.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@model FoodForYou.Web.ViewModels.Products.AllProductsViewModel
@{
    this.ViewData["Title"] = "Products";
    var categoryName = @ViewBag.CategoryName;
}

<h1 class="text-center">@categoryName</h1>

<hr class="my-4">

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div class="d-flex justify-content-between">
        <div><a class="alert-danger" asp-controller="Categories" asp-action="Archive" asp-route-categoryName="@categoryName">Archive Category</a></div>
        <div><a class="alert-link" asp-controller="Products" asp-action="Create" asp-route-categoryName="@categoryName">Add Product</a></div>
    </div>

    <hr class="m-2 my-4">
}

<div class="row">

    @foreach (var product in Model.Products)
    {
        <div class="card" style="width: 16.3rem;">
            <img src="@product.ImageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-subtitle mb-2 text-muted">@product.Price€</p>
                <p class="card-text">@product.Description</p>
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>

<hr class="m-2 my-4">
